[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = ">=0.78.0"
pandas = "*"
openai = "*"
numpy = "*"
matplotlib = "*"
plotly = "*"
scipy = "*"
scikit-learn = "*"
streamlit-chat = "*"

[dev-packages]

[requires]
python_version = "3.8"
